

/* main */
/* picture */
.pic_container{
  /* border:1px solid black; */
  height: 480px;
  display:flex;
  
}

.pic_1{
  /* border: 1px solid red; */
  width: 800px;
  border-radius: 8px 0 0 8px;
  margin: 4px 4px 4px 0;
  overflow: hidden;
}

.pic_1 img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.pic_2{
  /* border: 1px solid red; */
  flex: 1;
  overflow: hidden;
}

.pic_item1, .pic_item2{
  /* border: 1px solid blue; */
  height: 50%;
  display: flex;
}

.pic_item1_1, .pic_item2_1{
  /* border: 1px solid green; */
  width: 50%;
  margin: 4px;
}

.pic_item1_2{
  /* border: 1px solid green; */
  width: 50%;
  border-radius: 0 8px 0 0;
  margin: 4px;
  overflow: hidden;
  object-fit: cover;
}

.pic_item2_2{
  /* border: 1px solid green; */
  width: 50%;
  border-radius: 0 0 8px 0;
  margin: 4px;
  overflow: hidden;
  object-fit: cover;
}

.pic_item1_1 img, 
.pic_item1_2 img, 
.pic_item2_1 img, 
.pic_item2_2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



/* title */
.title_container{
  margin-top: 20px;
  /* border:1px solid black; */
  height:140px;
  display:flex;
  justify-content:space-between;
}

.title_detal_1{
  /* border:1px solid black; */
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title_detal_1_1{
  /* border:1px solid black; */
  height: 60px;
}

.title_detal_1_2{
  /* border:1px solid black; */
  height: 60px; 
}

.title_main{
  font-size: 24px;
  display: inline;
}


.title_detal_2{
  border:1px solid #ddd;
  width:360px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  }
  

.title_detal_2 .sold{
  font-size: 24px;
  color:blue;
}

.title_detal_2 .button{
  width: 100%;
  border: none;
  color: #eee;
  background-color: #26bec9;
  padding: 8px 24px;
  border-radius: 0 4px 4px 0;
}

.check{
  display: inline-block;
}

/* desc */
.container-desc{
  margin-top: 24px;
}

.container-desc li{
  font-size: 16px;
  line-height: 2;
}

ul {
  list-style: disc; /* 圓點 */
  padding-left: 20px; /* 加點縮排讓點點顯示 */
}


/* ticket */
.ticket_title{
  padding: 52px 0 8px 0;
  font-size: 24px;
  font-weight: bold;
}

.ticket_card{
  border: 1px solid #ddd;
  height: 200px;
  width: 90%;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.ticket_pic{
  width: 180px;
}

.ticket_pic img{
  width: 100%;
  height: 100%;
  object-fit: over;
}

.ticket_info {
  flex: 1;
  padding-left: 28px;
}

.ticket_title {
  font-size: 20px;
  font-weight: bold;
}

.buy{
  background-color: orange;
  color: #fff;
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
}

.ticket_detal{
  font-size: 16px;
  line-height: 1.5;
  margin-top: 12px;
}


.price {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  display: inline;
}

.ticket_price_cho {
  border: 1px solid #26bec9;
  background-color: #fff;
  color: #26bec9;
  padding: 8px 12px;
  font-size: 18px;
  border-radius: 4px;
}

.ticket_info .time{
  margin-top: 8px;
}

/* 選擇方案 */
.final_check{
  /* border: 1px solid black; */
  margin-top: 16px;
}

.option{
  font-size: 20px;
}

.final_detail{
  /* border: 1px solid black; */
  display: flex;
  margin-top: 12px;
}

.total{
  display: flex;
  justify-content: end;
  margin-top: 4px;
}

.total .addcard_btn{
  border: none;
  font-size: 16px;
  margin-left: 8px;
  padding: 4px;
  background-color: rgb(254, 254, 100);
  border-radius: 4px;
}

.total .addcard_btn:hover{
  cursor: pointer;
}