@import './reset.css';
@import './home.css';
@import './detail.css';
/* @import './destination.css'; */
@import './darkTheme.css';
@import './order.css';
@import './finish.css';
@import "./tailwindcss.css";


* {
  box-sizing: border-box;
}

html, body{
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
  color: #000;
}

.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.my-container{
  padding: 0 20px;
}

.cart {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}